/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea

database/migrations/2023_03_16_205006_create_bibles_table.php
database/migrations/2023_03_19_061914_create_bible_books_table.php
